<section>
    <h2><%= @shelter.name %></h2>
    <p>Address:</p>
    <%= @shelter.address %><br/>
    <%= @shelter.city %>, <%= @shelter.state %> <%= @shelter.zip %><br/>
    <div class="shelter_options"><%= link_to "Update Shelter", "/shelters/#{@shelter.id}/edit" %></div>
    <% if @num_pending_pets == 0 %>
    <div class="shelter_options"><%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", :method => :delete %></div>
    <% end %>
    <div class="shelter_options"><%= link_to "See Our Pets", "/shelters/#{@shelter.id}/pets" %></div>
  <section class="review-section">
    <%= link_to ("New Review"), "/shelters/#{@shelter.id}/reviews/new" %>
    <% @shelter.reviews.each do |review| %>
      <div id="review-<%= review.id %>">
        <%= image_tag ( review.review_image ) %><br/>
        <%= review.title %>
        <%= link_to ("Edit Review"), "/shelters/#{@shelter.id}/reviews/#{review.id}/edit" %><br/>
        Rating: <%= review.rating %><br/>
        <%= review.content %><br/>
        <%= link_to ("Delete Review"), "/shelters/#{review.shelter_id}/reviews/#{review.id}", method: :delete %>
      </div>
    <% end %>
  </section>
</section>
