<h1>Apply for a pet</h1>
<section>
  <%= form_tag "/pet_applications/", method: :post do %>
    <% @favorite_pets.each do |pet| %>
        <div id="pet-<%= pet.id %>">
          <%= check_box_tag("pet_id[]", "#{pet.id}") %>
          <%= label_tag("pet_id[]", "#{pet.name}") %><br/>
        </div>
    <% end %>
    <%= label_tag "Name: "%>
    <%= text_field_tag :name %><br/>
    <%= label_tag "Address: " %>
    <%= text_field_tag :address%><br/>
    <%= label_tag "City: " %>
    <%= text_field_tag :city %><br/>
    <%= label_tag "State: " %>
    <%= text_field_tag :state %><br/>
    <%= label_tag "Zip: " %>
    <%= text_field_tag :zip %><br/>
    <%= label_tag "Phone Number: " %>
    <%= text_field_tag :phone_number %><br/>
    <%= label_tag "Description: " %>
    <%= text_field_tag :description %><br/><br/>
    <%= submit_tag "Submit Application" %>
  <% end %>
</section>
