<h2>Application Details</h2>

<section>
  <p>Applicant Details:
  <p><%= @pet_application.name %>
  <p><%= @pet_application.address %>
  <p><%= @pet_application.city %>, <%= @pet_application.state %> <%= @pet_application.zip %>
  <p><%= @pet_application.phone_number %>
  <p>Applicant Notes:
  <p><%= @pet_application.description %>

<div><h3>Pet Applications</h3>
  <%= form_tag "/pet_applications/#{@pet_application.id}/approve_application", method: :patch do %>
    <% @pet_application.pets.each do |pet| %>
      <% unless pet.adopt_status == "Pending" %>
        <div id="app-<%= @pet_application.id %>-pet-<%= pet.id %>">
          <%= check_box_tag("pet_id[]", "#{pet.id}") %>
          <%= label_tag("pet_id[]", "#{pet.name}") %><br/>
        </div>
      <% end %>
    <% end %>

    <%= submit_tag "Approve Applications" %>
  <% end %>
</div>
</section>
