<h2>Application Details</h2>

<section>
  <p>Applicant Details:
  <p><%= @pet_application.name %>
  <p><%= @pet_application.address %>
  <p><%= @pet_application.city %>, <%= @pet_application.state %> <%= @pet_application.zip %>
  <p><%= @pet_application.phone_number %>
  <p>Applicant Notes:
  <p><%= @pet_application.description %>

<h3>Pet Applications</h3>
  <% @pet_application.pets.each do |pet| %>
    <div id="app-<%= @pet_application.id %>-pet-<%= pet.id %>">
        <%= link_to "Approve #{pet.name}'s Application", "/pet_applications/#{@pet_application.id}/approve/#{pet.id}", method: :patch %>
    </div>
  <% end %>
</section>
