<h1>Your Favorite Pets</h1>
<h3><%= link_to "Adopt Favorite Pets", "/pet_applications/new" %></h3>
<section class="favorited-pets">
  <% if favorite.total_count > 0 %>
    <% @favorited.each do |pet| %>
      <div id="favorite-<%= pet.id %>" class="pet_block">
        <%= image_tag(pet.image) %><br/>
        <%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %><br/>
        <%= link_to "Remove Favorite", "/favorites/#{pet.id}", method: :patch %>
      </div>
    <% end %>
  <% else %>
    <h3>You Have No Favorite Pets</h3>
  <% end %>
</section>

<div id="unfavorite-link">
      <%= link_to "Unfavorite All Pets", "/favorites", method: :delete %><br/>
</div>

<ul class="application-submitted-pets">The following pets have applications submitted:
  <% @submitted_pets.each do |pet| %>
    <% if pet.adopt_status == "Application Submitted" %>
      <li><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
    <% end %>
  <% end %>
</ul>
