<h1>Your Favorite Pets</h1>
<section>
  <% if favorite.total_count > 0 %>
    <% @favorited.each do |pet| %>
      <div id="favorite-<%= pet.id %>" class="pet_block" style="display: flex">
        <%= image_tag(pet.image) %><br/>
        <%= link_to "#{pet.name}", "/pets/#{pet.id}", method: :get %><br/>
        <%= link_to "Remove Favorite", "/favorites/#{pet.id}", method: :patch %>
      </div>
    <% end %>
  <% else %>
    <h3>You Have No Favorite Pets</h3>
  <% end %>
</section>
<div id="unfavorite-link">
      <%= link_to "Unfavorite All Pets", "/favorites", method: :delete %><br/>
</div>
