<section>
  <%= image_tag ( @pet.image ) %>
  <h2><%= @pet.name %></h2>
  Status: <%= @pet.adopt_status %><br/>

  <% if favorite.check_pet(@pet.id) %>
    <%= link_to "Remove Favorite", "/favorites/#{@pet.id}", method: :patch %>
  <% else %>
    <%= link_to "Favorite Pet", "/favorites/#{@pet.id}", method: :post %>
  <% end %>

  <p>About <%= @pet.name %> :</p>
  <p><%= @pet.description %></p>
  Age: <%= @pet.age %><br/>
  Sex: <%= @pet.sex %><br/>
  <p><%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %>
  <%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %></p>
  <% flash.each do |name, msg| %>
  <div class="well_done"><%= msg %></div>
  <div class="favorite_removed"><%= msg %></div>
  <% end %>
</section>
