<section>
  <%= image_tag ( @pet.image ) %>
  <h2><%= @pet.name %></h2>
  Status: <%= @pet.adopt_status %><br/>

  <% if favorite.check_pet(@pet.id) %>
    <%= link_to "Remove Favorite", "/favorites/#{@pet.id}", method: :patch %>
  <% else %>
    <%= link_to "Favorite Pet", "/favorites/#{@pet.id}", method: :post %>
  <% end %>

  <p>About <%= @pet.name %> :</p>
  <p><%= @pet.description %></p>
  Age: <%= @pet.age %><br/>
  Sex: <%= @pet.sex %><br/>
  <p><%= link_to "Update Pet", "/pets/#{@pet.id}/edit" %>
  <%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete %></p>
  <p>View <%= link_to "All Applications", "/pets/#{@pet.id}/applications", method: :get %> for <%= @pet.name %>
</section>

<div class="application-hold-message">
  <% if @pet.adopt_status == "Pending" %>
    <h3 style="background-color: orange; color: white;">On hold for: <%= @pet.pet_applications.first.name %></h3>
  <% end %>
</div>
