<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      Adopt! Don't shop!
    </header>
    <nav>
      <li><%= link_to "Shelters Index", "/" %></li>
      <li><%= link_to "Pets Index", "/pets" %></li>
      <li><%= link_to "Favorite Pets: #{favorite.total_count}", "/favorites" %></li>
      <div id="info-messages">
        <% flash.each do |name, msg| %>
        <div id="<%= name %>"><%= msg %></div>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
