<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      Adopt! Don't shop!
    </header>
    <nav>
      <li><%= link_to "Shelters Index", "/" %></li>
      <li><%= link_to "Pets Index", "/pets" %></li>
      <li><%= link_to "Favorite Pets", "/favorites" %></li>
    </nav>
    <%= yield %>
  </body>
</html>
